<header class="header">
  <a class="logo" href="#">
    <img
      width="94"
      height="24"
      src="../../assets/logo.svg"
      alt="Veg Lifestyle"
    >
  </a>
  <div class="navigation-wrap">
    <button class="toggle" aria-label="Toggle navigation"></button>
    <nav class="navigation">
      <ul class="menu">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Ingredients</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
      <ul class="user">
        <li><a href="#">Login / Signup</a></li>
      </ul>
    </nav>
  </div>
</header>
